.container{
    width: 90%;
    display: flex;
    margin: 50px auto;
    padding: 20px;
    background: -webkit-linear-gradient(left,#111,#444,#444,#111);
    flex-flow: row;
    align-content: space-around;
}
.child{
    width: 30%;
    padding: 40px 10px;
    text-align: center;
    color: #f1f1f1;
    margin: 0 20px;
    text-shadow: 0 0 32px #fff;
    background-color: #0069C5;
}
.child:hover h2{
    text-decoration: underline;
    margin-top: 5px;
} 